*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;

}
html{
  scroll-behavior: smooth;
}
/* font-family: "Playwrite NZ Basic", cursive;
font-family: "Playwrite CU Guides", cursive; */
.container{
  max-width: 1000px;
  height: 700px;
  border: 2px solid wheat;
  margin: 100px auto;
  padding: 20px;
  background-color: black;
}
h1{
  color: aliceblue;
  font-size: 2.5rem;
  font-family: "Playwrite NZ Basic", cursive;
  text-align: center;
}
.text{
  display: block;
  margin: 10px auto;
  width: 450px;
  height: 60px;
  font-size: 1rem;
  letter-spacing: 5px;
  text-align: right;
  padding: 5px;
  margin-bottom: 50px;
  font-weight: bold;
}
button{
  font-size: 1.8rem;
  color: aliceblue;
  background-color: blue;
  padding: 10px auto;
  margin: 10px 5px;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
}
.all-button{
text-align: center;
}

.end{
  background-color: white;
  color: black;
}
/* responsive starts here */
@media screen and (max-width:580px){
  button{
  font-size: 1rem;
  color: black;
  background-color: greenyellow;
  padding: 5px 5px;
  margin: 5px 5px;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
}
.container{
  height: fit-content;
  width: fit-content;
}
.text{
  display: block;
  margin: 10px auto;
  width: 320px;
  height: 50px;
  font-size: 1rem;
  letter-spacing: 5px;
  text-align: right;
  padding: 5px;
  margin-bottom: 50px;
}

}
/* responsive ends here */